/**** tokyonight.css ****/

/** Teams thread **/

/* 1st thread message  */
.message-list-common:not(.chat-style)
  .conversation-start
  .ts-message-thread-body:hover
  .message-body-top-row,
.message-list-common:not(.chat-style)
  .conversation-start
  .ts-message-thread-body:hover
  .message-body-top-row
  .timestamp-column {
  background: rgb(26, 27, 38) !important; /* Tokyo Night background */
}

/* replies in thread */
.message-list-common:not(.chat-style)
  .conversation-reply
  .ts-message-thread-body:hover
  .message-body-top-row,
.message-list-common:not(.chat-style)
  .conversation-reply
  .ts-message-thread-body:hover
  .message-body-top-row
  .timestamp-column {
  background: rgb(
    36,
    40,
    59
  ) !important; /* Slightly darker Tokyo Night background */
}

/** Chat **/

/* Others messages */
.message-list-common.chat-style
  .ts-message-thread-body:hover
  .message-body-top-row,
.message-list-common.chat-style
  .ts-message-thread-body:hover
  .message-body-top-row
  .timestamp-column {
  background: rgb(26, 27, 38) !important; /* Same as thread */
}

/* My messages */
.message-list-common.chat-style
  .self
  .ts-message-thread-body:hover
  .message-body-top-row,
.message-list-common.chat-style
  .self
  .ts-message-thread-body:hover
  .message-body-top-row
  .timestamp-column {
  background: rgb(45, 49, 71) !important; /* Accent for "my" messages */
}
