[user]
    name = Franek Borowiec
    email = franek.borowiec@gmail.com

[init]
    defaultBranch = main

[alias]
    gone = !git fetch -p && git branch -vv | grep 'origin/.*: gone]' | grep -v '+' | awk '{print $1}' | xargs git branch -D
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rst = !git reset $(git merge-base origin/main $(git branch --show-current))
    set-upstream = !git branch --set-upstream-to=origin/$(git symbolic-ref --short HEAD)
    set-user = "!f() { \
        origin=$(git remote get-url origin 2>/dev/null); \
        case \"$origin\" in \
            git@github.psa-cloud.com:*) \
                git config user.name \"FRANCISZEK BOROWIEC - SF33267\"; \
                git config user.email \"franciszek.borowiec@stellantis.com\"; \
                echo \"Set Stellantis identity\" ;; \
            *) \
                echo \"Personal identity (global) remains active.\" ;; \
        esac; \
    }; f"
	fix-author = !/home/sf33267/dotfiles/git/.config/git/scripts/git-fix-author
  add-coauthors = !~/.config/git/scripts/add-coauthors.sh
  update-fork = "!f() { \
        branch=$(git rev-parse --abbrev-ref HEAD); \
        git fetch upstream && \
        git checkout main && \
        git pull --rebase upstream main && \
        git push origin main && \
        git checkout \"$branch\"; \
  }; f"

[core]
    editor = nvim
    pager = delta
    excludesfile = ~/.config/gitignore
    longpaths = true

[push]
    default = current

[pull]
    default = current
    rebase = true

[rebase]
    autoStash = true

[merge]
    tool = nvim
    conflictstyle = diff3

[credential]
    helper = store

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default

[delta]
    navigate = true    # use n and N to move between diffs
    light = false

[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[mergetool "nvim"]
    prompt = false
    cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

