[Unit]
Description=Auto Display Management Timer
Requires=auto-display.service

[Timer]
OnBootSec=30
OnUnitActiveSec=10
AccuracySec=5
Persistent=false

[Install]
WantedBy=timers.target
