[Unit]
Description=Auto Display Management
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.config/i3/scripts/auto-display.sh
Environment=DISPLAY=:0
Nice=19
IOSchedulingClass=3

[Install]
WantedBy=default.target
